@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

// Primary
$softblue: hsl(231, 69%, 60%);
$softred: hsl(0, 94%, 66%);

// Neutral
$grayishblue: hsl(229, 8%, 60%);
$verydarkblue: hsl(229, 31%, 21%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  color: $verydarkblue;
}

p {
  opacity: 50%;
  font-weight: 400;
  line-height: 1.5;
}

header {
  .nav-bar-container {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    margin-left: 171px;
    margin-top: 48px;
    margin-right: 165px;

    .nav-bar-container-links {
      font-size: 13px;
      letter-spacing: 1.5px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $verydarkblue;
        margin-right: 48px;
      }
      button {
        height: 40px;
        width: 111px;
        border: none;
        background-color: $softred;
        color: white;
        border-radius: 5px;
        text-transform: uppercase;
        border: 1px solid $grayishblue;
      }
    }
  }
}

main {
  .bookmark-container {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 165px;
    margin-top: 114px;
    .bookmark-container-header {
      margin-right: 65px;
      font-weight: medium;
      width: 540px;
      height: 292px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
      }
      p {
        font-size: 18px;
      }
      .bookmark-container-buttons {
        display: flex;

        button {
          border: none;
          height: 48px;
          border-radius: 5px;
          width: 161px;
          font-size: 14px;
          font-weight: 600;

          &:nth-child(1) {
            background-color: $softblue;
            color: white;
            margin-right: 1rem;
            box-shadow: 0px 8px 8px -4px rgba(74, 94, 208, 0.2);
          }
          &:nth-child(2) {
            background-color: #f7f7f7;
            color: $verydarkblue;
            opacity: 75%;
            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
          }
        }
      }
    }

    img {
      margin-right: 91px;
      // width: 579px;
      // height: 386px;
      // box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.5);
    }

    .curved-rectangle {
      position: absolute;
      right: -37%;
      bottom: 0;
      z-index: -4;
      width: 1000px;
      height: 352px;
      background-color: $softblue;
      border-top-left-radius: 316.5px;
      border-bottom-left-radius: 316.5px;
    }
  }
}
